<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Hazelcast, IMDG, In-Memory Data Grid, Release Notes, Scalable, Clustering, Partitioning, Distributed, Open Source, Hazelcast New Feaures, Bug Fixes, Enhancements">
    <meta name="description" content="Hazelcast Release Notes document lists the new features, enhancements and fixed issues for all Hazelcast releases.">
    <title>Hazelcast Release Notes</title>

    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/reset.css">
    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/docs.css">
    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/print.css" media="print">
    <% if @manifest.options.css: %><link type="text/css" rel="stylesheet" href="<%- @manifest.options.css %>"><% end %>
    <link rel="icon" href="<%= @baseUrl %>assets/img/favicon.png" type="image/x-icon">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/JSAfterLoad.js"></script>

    <% if @manifest.options.embedly: %>
        <script type="text/javascript" src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
        <script type="text/javascript" src="<%= @baseUrl %>assets/js/embed.js"></script>>
    <% end %>

    <script type="text/javascript">var BASE_URL = "<%= @baseUrl %>";</script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/viewer.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/stick-in-parent.js"></script>
 
</head>
<body>
	<div id="page">
		<a name="top" />
		<div id="sitebar">
		<div class="content">
			<p><a href="http://hazelcast.org/documentation">Go to <span style="font-weight:bold">hazelcast.org/documentation</span></a></p>
		</div>
	</div>

	<header id="header">
		<div class="content">
			<div style="overflow:hidden">
				<div style="float:left">
					<a href="http://www.hazelcast.org"><img src="<%= @baseUrl %>assets/img/logo.png" style="width: 199px;padding-top: 18px" alt="Hazelcast Logo"/></a>
				</div>
				<div style="float:left;padding-top: 15px;padding-left: 30px;">
					<h1><a href="<%= @baseUrl %>">Release Notes<span style="font-size:12px">   Publication Date : <%= @manifest.options.date %> </span></a></h1>
				</div>
			</div>
		</div>
	</header>
	<div class="content">
		<%- @include "_sidebar.html" %>
			<div id="content">
				<p>This document includes the new features, enhancements and fixed issues for Hazelcast releases.<p>
				<%- @content %>
			</div>
			<a class="sendfix" href="https://github.com/hazelcast/hazelcast/issues/new" target="_blank">Send Us a Fix!</a>
		</div>
	</div>
</body>
</html>
